{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <!-- Контент на странице -->
    <div class="row mx-md-1 mx-lg-2 mx-0">
        {% if request.GET.q %} <!--8:55-->
            <h3 class="mt-4">Результаты поиска по запросу: <strong>{{ request.GET.q }}</strong></h3>
            {% if not goods %}
                <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
                <h2 class="mt-4">К сожалению ничего не найдено.</h2>
            {% endif %}
        {% endif %}
        {% if not goods %}
            <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
            <h2 class="mt-4">К сожалению ничего не найдено.</h2>
            {% endif %}
        {% for product in goods %} <!--проходим циклом по списку из goods.views->context:goods -->
            
            <!-- Карта товара -->
            <div class="col-lg-4 py-lg-4 px-lg-3 col-md-6 p-md-3 col-sm-6 col-6 py-3 px-1 ">
                <div class="card border-primary rounded custom-shadow">
                    <a href="{% url 'goods:product' product.slug %}">
                        {% if product.image %} <!--пытаемся вывести изображение только если оно есть (иначе будет ошибка)-->
                        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                        {% else %}
                        <img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" alt="{{product.name}}">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <a class="link-offset-2 link-underline link-underline-opacity-0 " href="{% url "goods:product" product.slug %}">
                            <strong>
                            <p class="card-title fs-6 text-dark text-decoration-underline">
                                {% autoescape off %} <!--чтоб сработал код для выделения результатов поиска-->
                                    {% if product.headline %} <!--добавили условие если используется поиск-->
                                        {{ product.headline }}
                                    {% else %}
                                        {{ product.name }}
                                    {% endif %}
                                {% endautoescape %}
                            </p>
                            </strong>
                        </a>

                        <p class="card-text">
                            {% autoescape off %}
                                {% if product.bodyline %} <!--добавили условие если используется поиск-->
                                    {{ product.bodyline|truncatechars:200 }}
                                {% else %}
                                    {% comment %} {{ product.description|truncatechars:42 }}<!--truncatechars - сокращать описание по количеству символов--> {% endcomment %}
                                {% endif %}
                            {% endautoescape %}
                        </p>
                            
                            
                        {% comment %} <p class="product_id">id: {{product.display_id}}</p> <!--вызываем наш метод display_id из goods/models--> {% endcomment %}
                        
                        <div class="d-flex flex-wrap justify-content-between align-items-baseline">
                            
                            {% if product.discount %}
                                <p class=""><s>{{ product.price }}</s> ₽</p>
                                <p><strong class="border border-dark bg-warning px-1 rounded-2">{{product.sell_price}} ₽</strong></p>
                                <span class="badge bg-warning text-dark">Скидка {{product.discount}} %</span>
                            {% else %}
                                <p><strong class="border border-dark  px-2 rounded-2">{{ product.price }} ₽</strong></p>
                            {% endif %}
                            
                            {% comment %} <a href="{% url "cart:cart_add" %}" class="btn add-to-cart"
                            data-product-id="{{product.id}}">
                                {% csrf_token %}
                                <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                    width="32" height="32">
                            </a> 
                            Иконка добавления в корзину
                            {% endcomment %}
                            <div>
                                <a href="{% url "goods:product" product.slug %}">
                                    <button type="button" class="btn btn-dark mr-2">Подробнее</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        
        



    </div>
    <!-- Пагинация -->
    {% if goods and goods.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-4">
                <div class="custom-shadow d-flex">
                    <li class="page-item {% if not goods.has_previous %}disabled{% endif %}"> 
                        <a class="page-link" href="{% if goods.has_previous %} ?{% change_params page=goods.previous_page_number %}
                        {% else %}#{% endif %}">Назад</a>            
                    </li>
                    
                    
                    {% for page in goods.paginator.page_range %} <!--page_range метод пагинатора-->
                        {% if page >= goods.number|add:-3 and page <= goods.number|add:3 %}
                            <li class="page-item {% if goods.number == page %}active{% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{page}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if goods.has_next %} ?{% change_params page=goods.next_page_number %}
                        {% else %}#{% endif %}">Вперед</a>
                    </li>
                </div>
            </ul>
        </nav>
    {% endif %}
{% endblock content %}

{% block futer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">{% include "text/futer_text.html" %}</p>
        </div>
    </footer>
{% endblock futer %}