{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <!-- Стиль footer-a для главной страницы -->
    {% block css_footer_index %}{% endblock css_footer_index %}
    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
    <title>{{ title }}</title>
    <!--превью whatsapp-->
    <meta property="og:description" content="Доставка воздушных шаров по г.Красноярску" />
{% if product.image %}
    <meta property="og:title" content="{{product.name}}"/>
    {% comment %} <meta property="og:image" content="https://33шарика.рф{{product.image.url}}"/> {% endcomment %}
    <link rel="image_src" href=" {{ request.scheme }}://{{ request.get_host }}{{product.image.url}}">
{% else %}
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:image" content=" {{ request.scheme }}://{{ request.get_host }}/media/goods_images/set1_PVfFktO.jpg"/>
{% endif %}

</head>

<body>
    <!-- Фон для смартфона (параметры в my_css) -->
    <div class="background-image-container d-block d-md-none">
        <img src="{% static "\deps\images\bg-image-17.jpg" %}" class="img-fluid" alt="Responsive background">
    </div>
    <!-- Фон для ПК/планшета (параметры в my_css) -->
    <div class="background-image-container d-none d-md-block">
        <img src="{% static "\deps\images\bg-image-18.jpg" %}" class="img-fluid" alt="Responsive background">
    </div>
  
  <!-- Остальной контент страницы -->
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="{% url "main:index" %}">33шарика.рф</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="dropdown-item m-1 mt-2 mt-lg-1 text-white" href="{% url "main:delivery" %}">Доставка и оплата</a>
                        <a class="dropdown-item m-1 text-white" href="{% url "main:contacts" %}">Контактная информация</a>
                        <a class="dropdown-item m-1 text-white" href="{% url "main:about" %}">О нас</a>
                        {% comment %}<li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Информация
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item  text-white" href="{% url "main:delivery" %}">Доставка и оплата</a></li>
                                <li><a class="dropdown-item  text-white" href="{% url "main:contacts" %}">Контактная информация</a></li>
                                <li><a class="dropdown-item  text-white" href="{% url "main:about" %}">Про нас</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" href="{% url "users:users_cart" %}">Корзина</a>
                        </li>
                         {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link  text-white" href="{% url "users:login" %}">Войти</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Мой профиль
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item  text-white" href="{% url "users:users_cart" %}">Корзина</a></li>
                                <li><a class="dropdown-item  text-white" href="{% url "users:profile" %}">Личный кабинет</a>
                                </li>
                                {% if user.is_admin or user.is_staff %}
                                <li><a class="dropdown-item  text-white" href="{% url "admin:index" %}">Админ панель</a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item  text-white" href="{% url "users:logout" %}">Выйти</a></li>
                            </ul>
                        </li>
                        {% endif %} {% endcomment %}
                    </ul>
                    <form class="d-flex" role="search" method="get" action="{% url "catalog:search"%}"> 
                        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success text-white" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <!-- Каталог и корзина с фиксированным расположением на странице -->
            <div class="d-flex mb-2 mt-1 position-absolute z-3 d-block d-lg-none"><!-- Smartphone -->
                <!-- Каталог -->
                <div class="dropdown  me-3">
                    <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Каталог
                        <img class="mx-1" src="{% static "deps/icons/grid-fill.svg" %}" alt="Catalog Icon" width="16"
                            height="16">
                    </button>
                    <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
                        
                        {% tag_categories as categories %} <!--вызываем тег из файла goods_tags (загружен вверху) и даем имя categories-->
                        {% for category in categories %} <!--проходим циклом по categories-->
                            <li><a class="dropdown-item text-white" href="{% url "catalog:index" category.slug %}">{{category.name}}</a></li>
                        {% endfor %}{% comment %} КАТЕГОРИИ {% endcomment %}
                    
                    </ul>
                </div>
                <!-- Форма фильтров -->
                {% if is_category_page %}
                {% comment %} {% if request.path == '/catalog/all/' %} {% endcomment %}
                    <div class="dropdown mb-2">
                        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Фильтры
                        </button>

                        <form action="{% if request.GET.q %}{% url "catalog:search" %} {% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                                {% if request.GET.q %} <!--если в запросе есть ключ q (используется поиск) то при применении фильтров скрыто повторится запрос поиска-->
                                    <input type="hidden" name="q" value="{{request.GET.q}}">
                                {% endif %}
                                <label class="form-check-label" for="flexCheckDefault">
                                    Товары по акции
                                </label>
                            </div>
                            <p class="text-white mx-3 mt-3">Сортировать:</p>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    По умолчанию
                                </label>
                            </div>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" {% if request.GET.order_by == 'price' %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    От дешевых к дорогим
                                </label>
                            </div>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault3">
                                    От дорогих к дешевым
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                        </form>
                    </div>
                {% endif %}

                <!-- Значек корзины, вызывает модальное окно -->
                    
                    {% comment %} {% block modal_cart %}
                        
                    {% endblock modal_cart %} {% endcomment %}
                <!-- Закончилась разметка модального окна -->
            </div>
            <div class="row mt-1 position-fixed z-3 d-none d-lg-block"><!-- PC -->
                <!-- Каталог -->
                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Каталог
                        <img class="mx-1" src="{% static "deps/icons/grid-fill.svg" %}" alt="Catalog Icon" width="16"
                            height="16">
                    </button>
                    <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
                        
                        {% tag_categories as categories %} <!--вызываем тег из файла goods_tags (загружен вверху) и даем имя categories-->
                        {% for category in categories %} <!--проходим циклом по categories-->
                            <li><a class="dropdown-item text-white" href="{% url "catalog:index" category.slug %}">{{category.name}}</a></li>
                        {% endfor %}{% comment %} КАТЕГОРИИ {% endcomment %}
                    
                    </ul>
                </div>
                <!-- Форма фильтров -->
                {% if is_category_page %}
                {% comment %} {% if request.path == '/catalog/all/' %} {% endcomment %}
                    <div class="dropdown mb-2">
                        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Фильтры
                        </button>

                        <form action="{% if request.GET.q %}{% url "catalog:search" %} {% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                                {% if request.GET.q %} <!--если в запросе есть ключ q (используется поиск) то при применении фильтров скрыто повторится запрос поиска-->
                                    <input type="hidden" name="q" value="{{request.GET.q}}">
                                {% endif %}
                                <label class="form-check-label" for="flexCheckDefault">
                                    Товары по акции
                                </label>
                            </div>
                            <p class="text-white mx-3 mt-3">Сортировать:</p>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    По умолчанию
                                </label>
                            </div>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" {% if request.GET.order_by == 'price' %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    От дешевых к дорогим
                                </label>
                            </div>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault3">
                                    От дорогих к дешевым
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                        </form>
                    </div>
                {% endif %}

                <!-- Значек корзины, вызывает модальное окно -->
                    <!-- перенесли -->
                    {% comment %} {% block modal_cart %}
                        
                    {% endblock modal_cart %} {% endcomment %}
                <!-- Закончилась разметка модального окна -->
            </div>
        </div>
        <!-- Контент -->
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Пустой блок на Ваше усмотрение -->
                </div>
                <div class="col-lg-10 mt-3">
                    <!-- Контент на странице -->
                    {% include "includes/notifications.html" %}

                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </section>
    {% block futer %}{% endblock futer %}
    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
</body>

</html>