{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block css_footer_index %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css_footer_index %}

{% block content %}
    <h2 class="mt-5 pt-5"><strong>О нас:</strong></h2>
    <p class="mt-1 pt-1"><strong>{% include "text/text_about.html" %}</strong></p>
{% endblock content %}

{% block futer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">{% include "text/futer_text.html" %}</p>
        </div>
    </footer>
{% endblock futer %}
